{% extends 'blog/base.html' %}
{% block content %}


<style type="text/css">
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    padding-top: 15px;
    }

    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        letter-spacing: 0.025em;
        padding: 25px 100px;
        font-size: 1.5rem;
    }


</style>

<div style="background-color: peachpuff;">
    <h1> About Me</h1>
    <p class="lead text-left">
        I'm am Santhosh Kumar, a Civil Engineer who discovered his passion for machine learning in 2019 and working hard to learn it since then, especially, interested in Deep Learning.
        <br><br>
        I’m a strong believer in self-learning and as my interest in is the field, I decided to quit my regular job in October 2019 and dedicate time and energy fully into it since then. I took a couple of online courses to know inside out about this field. Andrew NG's 'Machine Learning' offered by Coursera and Jeremy Howard's 'Deep Learning for Coders' from Fastai notable among them.
        <br><br>
        It was rather tough planning for me as everything was new in the beginning. I learned Python, a widely-used programming language for machine learning and various libraries like Scikit-learn for creating end-to-end machine learning pipeline, PyTorch, a framework for Deep learning, Flask for web deployment, and many more. Apart from these, I also learned web application development and hosting in on cloud platforms. I have deployed a couple of Flask applications on AWS and my web site built using the Django framework in the Heroku platform. In that process, I also became familiar with web development tools like HTML and JQuery.
        <br><br>
        Another reason which got me in this field is that the skills I acquired will not only provide better prospects but also help me building personal projects outside of work. Stock trading is one of them.
        <br><br>
        I'm looking for Job opportunity in Data Science and Machine Learning, so if you are interested to feel free to contact me at skumarr@gmail.com or on <a href="https://www.linkedin.com/in/santhosh-kumar-choori/">LinkedIN</a>
    
        <br><br> other projects includes:</br>
    
        To know more about me check out my blog and projects
    </p>
</div>
{% endblock %}