{% extends 'blog/base.html' %}
{% block content %}


<style type="text/css">
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    padding-top: 15px;
    }

    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        letter-spacing: 0.025em;
        padding: 25px 100px;
        font-size: 1.5rem;
    }

    p b {
        font-weight: 600;
        font-size: 18px;
    }


</style>

<div style="background-color: peachpuff;">
    <h1> About Me</h1>
    <p class="lead text-left">
        I am Santhosh Kumar, a Civil Engineer with three years of experience, who discovered his passion for machine learning, particularly in Deep Learning and working hard to master it.
        <br><br>
        I’m a strong believer in self-learning and as my interest in is the field, I decided to quit my regular job in October 2019 and dedicate time and energy fully into it since then. I took a couple of online courses to know inside out about this field. Andrew NG's 'Machine Learning' offered by Coursera and Jeremy Howard's 'Deep Learning for Coders' from <b>Fastai</b> notable among them.
        <br><br>
        It was rather tough decision to make as everything was new to me in the beginning. I learned <b>Python</b> programming and its various libraries like <b>Scikit-learn</b> for building end-to-end machine learning pipeline, <b>PyTorch</b> framework for Deep learning, <b>Flask</b> for web deployment, and many more. Apart from these, I also learned web application development and hosting them on cloud platforms. I have deployed a couple of Flask applications on <b>AWS</b> and this web site of mine built using the <b>Django</b> framework is deployed on the <b>Heroku</b> cloud platform. In that process, I also became familiar with web development tools like <b>HTML</b> and <b>JQuery</b>.
        <br><br>
        Another reason which got me in this field is, the skills I acquired will not only provide better prospects but also help me building personal projects outside of work. Algorithmic stock trading is one of them.
        <br><br>
        In my free time, I like reading books, learning new things (mosly related to technology) and solo travelling to unexplored places. 
        <br><br>
        I'm looking for Job opportunity in Data Science and Machine Learning, so if you are interested to feel free to contact me at <a href="mailto:skumarr@gmail.com">skumarr@gmail.com</a> or on <a href="https://www.linkedin.com/in/santhosh-kumar-choori/">LinkedIN</a>
    </p>
</div>
{% endblock %}